<ion-header>
  <ion-toolbar>
    <ion-title>G00438821</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>

      <ion-button routerLink="/settings">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
  <ion-label position="floating">Enter Ingredients</ion-label>
  <p></p>
  <ion-input [(ngModel)]="ingredientsText" placeholder="Carrots, Beef, Potatoes"></ion-input>
</ion-item>

<ion-button expand="block" (click)="searchRecipes()">
  SEARCH
</ion-button>
<p>Recipes found: {{ recipes.length }}</p>

<div *ngFor="let r of recipes">
  {{ r.title }}
</div>
<ion-card *ngFor="let r of recipes">
  <img [src]="r.image" [alt]="r.title" />
  <ion-card-header>
    <ion-card-title>{{ r.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-button size="small"[routerLink]="['/recipe-details', r.id]">
      DETAILS
    </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>